@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');



.cards {
  list-style: none;
}
.App {
  text-align: center;
  font-family: 'Bangers', cursive;
  background-color: black;
  color: red;
}
.like {
  background-color: black;
}
header{
  font-size: 100px;
}
.notfound{
  font-size: 50px;
}

 input[type=text]{
  background-color: black;
  color: red;
  width: 100%;
  text-align: center;
} 
.add{
font-size: 70px;
}
